<div class="container">
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <input type="text" placeholder="Username" formControlName="username" name="username" required>
      </div>
      <div class="row">
        <input type="password" placeholder="Password" formControlName="password" name="password" required>
      </div>
      <br>
      <div class="row button">
        <button type="submit">Login</button>
      </div>
      <div class="signup-link">Not a member? <a routerLink="../register">Signup now</a></div>
    </form>
  </div>
</div>

